* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landing {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.8)
    ),
    url(/images/stained-glass.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  position: relative;
  font-size: 2em;
  color: #fff;
  text-decoration: none;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.landing video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .about {
    width: 100%;
    height: 100vh;
    background-image: url(/images/small-stained.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */
